.-date {

  @extend %contain-floats;

  >.error-hint {
    width: 100%;
  }

  div {
    float: left;
    padding-right: 1em;
  }

  .day,
  .month {
    width: 3em;
    margin-bottom: 0px;
  }

  .year {
    width: 4em;
    margin-bottom: 0px;
  }

}
