#global-header {
  @extend %contain-floats;
  border-bottom: 3px solid $nhs-blue;
  padding: $leading*3 0;
  padding-top: $leading*4;
  margin-bottom: $baseline-grid-unit*8;
  @include media(mid) {
    padding-top: $leading*2;
  }
}

.header-container {
  @extend %block;
  padding-top: $leading*2;
}

.header-logo {
  display: block;
  margin-bottom: $leading/2;
  float: left;
  margin-right: 0px;
  img {
    display: block;
    width: 79px;
    height: 32px;
  }
}

.service-name {
  display: inline;
  color: $grey-1;
  margin-left: $leading*1;
  margin-right: $leading;
  @include media(mid) {
    display: inline;
    line-height: 32px;
  }
}
