.modal-present {
  position: relative;
}

.modal-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(66, 85, 99, 0.75); // $grey-1
}

.modal-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-sticky {
  margin: 0 $baseline-grid-unit*4;
}
