body {
  margin: 0;
  padding: 0;
  background-color: $white;
}

// Block for a layout "row" - i.e. header, content, footer
%block,
.content {
  @extend %contain-floats;
  max-width: 960px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @include media(large) {
    padding-left: 0;
    padding-right: 0;
  }
}

// evil cheat, prototypes only :)
.full-width {
  margin-left: -20px;
  margin-right: -20px;
  @include media(960px) {
    margin-left: calc(-100vw / 2 + 960px / 2);
    margin-right: calc(-100vw / 2 + 960px / 2);
  }
}


// float a column right instead of left
.f-right {
  @include media(640px) {
    float: right;
  }
}

.content-block {
  margin-bottom: $leading*6;
}

.postcode-inline-change input {
  display: inline;
  margin-right: $leading*1;
}

.sticky-element {
  @include media(large) {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}
