.callout {
  display: block;
  padding: $baseline-grid-unit*2 $baseline-grid-unit*6;
  margin-bottom: $baseline-grid-unit*8;
  background-color: $white;
  clear: both;

  &:focus {
    outline: 3px solid $focus-colour;
  }
}

.callout--muted {
  background-color: $grey-5;
}

.callout--bordered {
  border: solid $grey-4;
  background-color: $grey-5;
  border-width: $baseline-grid-unit/2 0;
}

.callout--info {
  background-color: $grey-5;
  border: solid $grey-2;
  border-width: 0 0 0 $baseline-grid-unit;
}

.callout--attention {
  border: $baseline-grid-unit * 2 solid $bright-blue;
}

.callout--warning {
  background-color: $yellow-10;
  border: solid $yellow-50;
  border-width: 0 0 0 $baseline-grid-unit;
}

.callout--alert {
  background-color: $red-10;
  border-top: $baseline-grid-unit * 2 solid $red;
}

.callout--severe {
  background-color: $red;
  color: $white;

  a {
    @include link-reverse-polarity;
  }
}

.callout--error {
  border: $baseline-grid-unit solid $red;
}

.callout--info-alert {
  background-color: $red-10;
  border: solid $red;
  border-width: 0 0 0 $baseline-grid-unit;
}

.callout--compact {
  display: inline-block;

  @include media(desktop) {
    padding: $baseline-grid-unit * 4 $baseline-grid-unit * 6;
  }
}

.callout--disposition {
  background-color: $blue;
  color: $white;
}

.callout-reference {

  p {
    margin-bottom: 0;
    color: $grey-3;
  }

  h3 {
    margin-top: 0;
  }
}

.callout--terms {
  /*font-size: $smallprint;
  line-height: $leading*3;*/
  padding: $baseline-grid-unit*2 $baseline-grid-unit*6;
  border: $baseline-grid-unit solid $grey-4;
}

// NHS.UK redesign typography which can be used for testing
.nhs-redesign,
.nhsuk-frontend {
  .callout {
    padding: $baseline-grid-unit*6;
    margin: $baseline-grid-unit*4 0;
    @include media(mid) {
      margin: $baseline-grid-unit*6 0;
    }
    & :first-child {
      margin-top: 0;
    }
    & :last-child {
      margin-bottom: 0;
    }
  }
}
