.load-container {
  display: inline-block;
  vertical-align: middle;
  width: $baseline-grid-unit*5;
  height: $baseline-grid-unit*5;
  overflow: hidden;
}
.loader,
.loader:after {
  display: block;
  border-radius: 100%;
  width: $baseline-grid-unit*3;
  height: $baseline-grid-unit*3;
}
.loader {
  position: relative;
  border-top: $baseline-grid-unit solid $nhs-blue;
  border-right: $baseline-grid-unit solid $nhs-blue;
  border-bottom: $baseline-grid-unit solid $nhs-blue;
  border-left: $baseline-grid-unit solid rgba(255, 255, 255, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: loader 1.1s infinite linear;
  animation: loader 1.1s infinite linear;
}
@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
