<section class="content">

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <details class="measure feedback">
    <summary><span>
      Does this page make sense?
    </span></summary>
    <div>
      <form>
        <p>
          We only use feedback to improve these pages. <b>We cannot pass
          information on to any other part of the NHS.</b>
        </p>
        <p>
          Do not leave any personal or contact information. No one will contact
          you or reply to requests for medical help.
        </p>
        <label for="feedback" class="nhsuk-u-margin-bottom-4">
          Tell us how to improve this page.
        </label>
        <textarea cols="20" id="feedback"></textarea>
        <button class="button">Send feedback</button>
      </form>
    </div>
  </details>
</section>
