<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <p class="nhsuk-body-s">
            <a data-event-trigger="click" data-event-value="Other ways to contact 111" data-test-id="footer-language-link" href="/Help/OtherWays" rel="noreferrer noopener" target="_blank">Other ways to contact 111 if you have a hearing problem or need help in other languages</a>
          </p>

          <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

          <p class="nhsuk-body-s">
            This website only stores the cookies that are needed to make it work. Read more about <a href="/Help/Cookies" id="cookie-link" rel="noreferrer noopener" target="_blank">how we use cookies</a>.
          </p>
        </div>
      </div>

      <ul class="nhsuk-footer__list">
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="/Help/Privacy" rel="noreferrer noopener" target="_blank">Privacy statement</a></li>
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="/Help/Terms" rel="noreferrer noopener" target="_blank">Terms and conditions</a></li>
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="/Help/Accessibility" rel="noreferrer noopener" target="_blank">Accessibility statement</a></li>
      </ul>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

          <p class="nhsuk-body-s">
            <svg class="global-footer__ce-mark" width="20" height="14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34 24" aria-hidden="true">
              <path fill="#4c6272" d="M13.2 23.9c-.4.1-.8.1-1.2.1-6.6 0-12-5.4-12-12S5.4 0 12 0c.4 0 .8 0 1.2.1v3.6c-.4 0-.8-.1-1.2-.1-4.6 0-8.4 3.8-8.4 8.4s3.8 8.4 8.4 8.4c.4 0 .8 0 1.2-.1v3.6zM33.6 23.9c-.4 0-.8.1-1.2.1-6.6 0-12-5.4-12-12s5.4-12 12-12c.4 0 .8 0 1.2.1v3.6c-.4 0-.8-.1-1.2-.1-3.9 0-7.4 2.7-8.2 6.6h7v3.6h-7c.8 3.9 4.3 6.6 8.2 6.6.4 0 .8 0 1.2-.1v3.6z"/>
            </svg>
            NHS 111 Online is a <a href="https://www.digital.nhs.uk/services/nhs-111-online/nhs-111-online-is-a-class-1-medical-device" data-event-trigger="click" target="_blank" rel="noopener" data-event-value="Class 1 medical device">Class 1 medical device (opens in a new tab or window)</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
