<footer id="global-footer" role="contentinfo">
  <div class="footer-container">
    <p class="small measure">
      <a href="#">
        Other ways to contact 111 if you have a hearing problem or need help in
        other languages.
      </a>
    </p>
    <div class="content-seperator content-seperator--dark-blue content-seperator--equalvertspacing--large"></div>
    <p class="small measure">
      This website only stores the cookies that are needed to make it work.
      Read more about how <a href="javascript:return false;" class="link--reverse-polarity">
      we use cookies.</a>
    </p>
    <ul class="link-list measure">
      <li><a class="link--reverse-polarity" href="javascript:return false;">Privacy statement</a></li>
      <li><a class="link--reverse-polarity" href="javascript:return false;">Terms and conditions</a></li>
      <li><a class="link--reverse-polarity" href="javascript:return false;">Accessibility statement</a></li>
    </ul>
    <div class="content-seperator content-seperator--dark-blue content-seperator--equalvertspacing--large"></div>

    <style type="text/css">
      .eds-ce-mark {
        height: 14px;
        margin-right: 4px;
        vertical-align: baseline;
        fill: #fff;
      }
    </style>
    <p class="nhsuk-u-font-size-16">
      <svg class="eds-ce-mark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34 24" aria-hidden="true">
        <path d="M13.2,23.9C12.8,24,12.4,24,12,24C5.4,24,0,18.6,0,12S5.4,0,12,0c0.4,0,0.8,0,1.2,0.1v3.6
          c-0.4,0-0.8-0.1-1.2-0.1c-4.6,0-8.4,3.8-8.4,8.4s3.8,8.4,8.4,8.4c0.4,0,0.8,0,1.2-0.1V23.9z"/>
        <path d="M33.6,23.9c-0.4,0-0.8,0.1-1.2,0.1c-6.6,0-12-5.4-12-12s5.4-12,12-12c0.4,0,0.8,0,1.2,0.1v3.6
          c-0.4,0-0.8-0.1-1.2-0.1c-3.9,0-7.4,2.7-8.2,6.6h7v3.6h-7c0.8,3.9,4.3,6.6,8.2,6.6c0.4,0,0.8,0,1.2-0.1V23.9z"/>
      </svg>
      NHS 111 online is a <a href="javascript: return false;">Class 1 medical device (opens in a new tab or window)</a>
    </p>
  </div>
</footer>
