<details>
  <summary><span>Get help in another language</span></summary>
  <div>
    <h4>If reading English is hard for you</h4>
    <p>Call 111. The 111 phone service can get an interpreter to help you.</p>
    <h4>If speaking in English is hard for you</h4>
    <p>If you are told you need a call back from a nurse, you can tell the nurse what language you'd like an interpreter to use.</p>
    <p>If you need to contact a hospital or a GP surgery, interpreter help will usually be available.</p>
  </div>
</details>
<details>
  <summary><span>Using this service if you have hearing loss</span></summary>
  <div>
    <p>We tell you what to do next about your symptoms. Sometimes this will mean being contacted by a nurse.</p>
    <h4>British sign language (BSL) users</h4>
    <p>A BSL interpreter is available at <a href='/edge'>signvideo.co.uk/nhs111</a></p>
    <p>You can't use 111 online to book a BSL call back from a nurse at the moment.</p>
  </div>
</details>
