.button {
  @include button($green, $boldweight);
}

.button-secondary {
  @include button($grey-4, $bodyweight);
}

.button-tertiary {
  @include button($grey-5, $bodyweight);
}

.button-multiple-calls {
  @include button($nhs-blue, $bodyweight);
}

.button-back {
  color: $grey-1;
  font-weight: $bodyweight;
  font-size: $smallprint;
  text-decoration: underline;

  display: inline-block;
  padding: 0 $baseline-grid-unit*3 0 0;

  &:link,
  &:visited,
  &:active {
    color: $grey-1;
  }

  &:hover {
    color: $text-colour;
  }

  &:focus {
    outline: 3px solid $focus-colour;
  }

  &::before {
    content: "";
    display: inline-block;
    margin-right: $leading;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid $grey-1;
  }
}


////////// LEGACY? //////////
.button {

  &.-bordered {
    border: 2px solid $grey-5;
    // border: none;
    background-color: $white;
    padding: 2px $leading*2;
    color: $nhs-blue;
    margin-right: $leading/4;
    font-weight: $bodyweight;

  }
  &.-bordered:hover {
    background-color: $grey-5;
  }

  &.-small {
    @extends .-bordered;
    margin-top: $leading/2;
    font-size: 16px;
    line-height: 24px;
  }

  &.-location {
    @extends .-small;
    padding: 12px $leading*2 ;
    font-size: 16px;
    line-height: 24px;

    @include media(mid) {
    margin-top: 8px;
    margin-left: -4px;
    position: absolute;
    }

  }

}
