.banner {
  display: inline;
  padding: $leading/2;
  font-size: $smallprint;
  font-weight: $boldweight;
  // margin-left: $leading*1;
  text-transform: uppercase;
}

.banner--alpha {
  @extend .banner;
  background-color: $dark-green;
}

.banner--beta {
  @extend .banner;
  background-color: $yellow;
}